<!DOCTYPE html>
<html>

<head>
    <title>My Flask App</title>
    <!-- Include Bootstrap CSS and JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>

    <!-- Include navbar code -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">My Flask App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('preds') }}">Preds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('res') }}">Go to Results Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('nuts') }}">Find Nuts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tickers') }}">Tickers</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>My Index PAGE</h1>
    <p>My first paragraph.</p>

</body>

</html>
