<!DOCTYPE html>
<html>
<head>
    <title>Nuts Input</title>
</head>
<body>
    <form action="/process_nuts" method="post">
        <label for="nut_type">Type of Nut:</label>
        <input type="text" name="nut_type" id="nut_type">
        <br>
        <label for="num_nuts">Number of Nuts:</label>
        <input type="number" name="num_nuts" id="num_nuts" min="1">
        <br>
        <label for="ticker">Enter Ticker Here:</label>
        <input type="text" name="tick", id="tick">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>